* {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    text-decoration: underline;
}

div {
    display: flex;
    flex-direction: column;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    width: 35em;
    height: 20em;
    /* Setup */
    position: relative;
}

.child {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.input_field {
    border-radius: 24px;
    border: solid 1px #dfe1e5;
    padding: 5px 8px 0 14px;
}

.input_field:hover {
    box-shadow: 0 1px 6px #20212447;
}

.nav-links {
    float: right;
    text-decoration: none;
    color: #000000de
}