* {
    font-family: arial, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    text-decoration: underline;
}

form {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    width: 35em;
    height: 20em;
    /* Setup */
    padding-top: 5em;
    position: relative;
    display: block;
}

.child {
    text-align: center;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    padding-top: 6px;
}

.logo {
    max-height: 92px;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 100%;
    position: relative;
    margin-top: auto;
}

.input_field {
    flex: 1;
    display: flex;
    border-radius: 24px;
    border: solid 1px #dfe1e5;
    padding: 5px 8px 0 14px;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    min-width: 336px;
}

.input_field:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.submit_button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit_button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.buttons {
    padding-top: 18px;
}

.nav-links {
    padding-top: 0.5em;
    float: right;
    text-decoration: none;
    color: #000000de
}