* {
    font-family: arial, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    padding: 0.5em;
    top: 2px;
}

.nav-links {
    padding: 0.5em;
    float: right;
    text-decoration: none;
    color: #000000de;
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    text-decoration: underline;
}

form {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}

.line {
    border-bottom: 1px solid #ebebeb;
    padding: 1em;
}

.title {
    color: #d93025;
    font-size: 20px;
    margin: 0px 25px 35px 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: block;
}

.adv-form {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 10px;
}

.adv-form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.adv-form-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    max-width: 100%;
}

.adv-textinput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 60%;
}

.adv-form-button {
    display: flex;
    justify-content: flex-end;
}

.blue-buttons {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 0 12px;
}

.blue-buttons:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    text-decoration: none;
    border-image: initial;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 0 auto;
    width: 35em;
    height: 20em;
    /* Setup */
    padding-top: 5em;
    position: relative;
    display: flex;
}

.child {
    text-align: center;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    padding-top: 6px;
}

.logo {
    max-height: 92px;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 100%;
    position: relative;
    margin-top: auto;
}

.input_field {
    flex: 1;
    display: flex;
    border-radius: 24px;
    border: solid 1px #dfe1e5;
    padding: 5px 8px 0 14px;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    min-width: 336px;
}

.input_field:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.submit_button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit_button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.buttons {
    padding-top: 18px;
}